.search-container{
    width: 500px;
    margin: 60px auto;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.15);
    text-align: center;
}

.search-container h1{
    margin-bottom: 30px;
    color: #222;
}

.search-box{
    display: flex;
    gap: 15px;
}

.search-box input{
    flex: 1;
    padding: 14px;
    border: 2px solid #ddd;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
}

.search-box input:focus{
    border-color: #007bff;
}

.search-box button{
    padding: 14px 25px;
    border: none;
    border-radius: 12px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.search-box button:hover{
    background-color: #0056b3;
}

.no-product-found{
    width: 100%;

    min-height: 70vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    text-align: center;

    margin: auto;

    padding: 20px;
}

.no-product-img{
    width: 280px;

    margin-bottom: 25px;
}

.no-product-found h1{
    font-size: 55px;

    color: #111827;

    margin-bottom: 10px;
}

.no-product-found h3{
    color: #4b5563;

    margin-bottom: 10px;
}

.no-product-found p{
    color: #6b7280;

    font-size: 18px;
}

.no-product-wrapper{
    grid-column: 1 / -1;

    width: 100%;

    display: flex;

    justify-content: center;

    align-items: center;
}